<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!--<h1>Interpolation </h1>
  <app-test-interpolation></app-test-interpolation>
  <h1>Property Binding </h1>
  <app-test-binding></app-test-binding>
  <h1>Class Binding </h1>
  <app-test-class-binding></app-test-class-binding>
  <h1>Style Binding </h1>
  <app-test-style-binding></app-test-style-binding>
  <h1>Event Binding:</h1>
  <app-test-event-binding></app-test-event-binding>-->
  <h1>2 Way Binding </h1>
  <app-test-twoway-binding></app-test-twoway-binding>
</div>
